header {
    background-color: var(--background);
    position: fixed;
    z-index:10;
    top: 0;
    left: 0;
    right: 0;
    font-size: 24px;
    font-family: "096MKSD";
}

header div {
    display: flex;
}

header .container {
    padding: 8px 16px;
    height: 30px;
    line-height: 30px;
    justify-content: space-between;
    border-bottom: 2px solid var(--foreground);
}

nav.menu {
}

ul.menu {
    list-style-type: none;
}

ul.menu li {
    float: left;
    width: 120px;
}

header a {
    display: block;
    height: 30px;
    line-height: 30px;
    margin: 0 auto;
    color: var(--foreground);
}

header a:hover {
    color: var(--white);
    box-shadow: 0px 24px 0 -14px var(--orange);
    /*border-bottom: 2px solid var(--orange);*/
}

a.name {
    margin: 0 16px;
}

@media screen and (max-width: 660px) {
    li, li:last-child {
        float: none;
        text-align: center;
    }

    li a {
        width: 100%;
        padding: 0;
    }

    #body {
        margin-top: 170px;
    }

    #content {
        min-height: 200px;
    }
}