div.head {
    border-bottom: 2px solid var(--foreground);
    color: var(--foreground);
    display: flex;
    justify-content: space-between;
    padding: 8px 16px;
    height: 30px;
    line-height: 30px;
    font-size: 24px;
}

div.head div {
    display: flex;
}

.name {
    padding: 0 16px;
}

nav.menu {
}

ul.menu {
    list-style-type: none;
}

ul.menu li {
    float: left;
}

ul.menu li a {
    display: inline-block;
    color: var(--foreground);
    text-align: center;
    width: 120px;
}

ul.menu li a:hover {
    color: var(--white);
}

@media screen and (max-width: 660px) {
    li, li:last-child {
        float: none;
        text-align: center;
    }

    li a {
        width: 100%;
        padding: 0;
    }

    #body {
        margin-top: 170px;
    }

    #content {
        min-height: 200px;
    }
}