:root {
    --background: hsl(240, 10%, 5%);
    --foreground: hsl(240, 100%, 90%);
    --white: hsl(240, 100%, 100%);
    --orange: hsl(16, 100%, 50%);
}

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "071MKMA";
    src: url("fonts/071MKMA.TTF");
}

@font-face {
    font-family: "071MKMB";
    src: url("fonts/071MKMB.TTF");
}

@font-face {
    font-family: "Continue AL";
    src: url("fonts/CONTA.TTF");
}

@font-face {
    font-family: "096MKSD";
    src: url("fonts/096MKSD.TTF");
}

body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: "071MKMB";
    font-size: 24px;
    min-width: 200px;
    margin: 0;
}

a {
    text-decoration: none;
}

div {
    display: block;
}

div.container {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

.banner {
    position: relative;
    height: 500px;
    background: linear-gradient(to right, hsla(240, 10%, 5%, 1) 0%, transparent 20%, transparent 80%, hsla(240, 10%, 5%, 1) 100%),
    linear-gradient(to bottom, transparent 80%, hsla(240, 10%, 5%, 1) 100%),
    url("../assets/banner.jpg") no-repeat center;
    background-size: cover;
}

.se {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    font-size:  60px;
    /*font-size: 30px; font-family: "Continue AL";*/
    height: 60px;
    line-height: 60px;
    vertical-align: middle;
    opacity: .8;
}

.se-fade {
    display: inline-block;
    animation: fadein 2s;
    animation-timing-function: cubic-bezier(.4,0,.6,1);
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    opacity: .8;
    width:  390px;
    /*width:  570px;*/
    transition: ease 1s;
}


.se-fade:hover {
    width:  420px;
    /*width:  600px;*/
}

@keyframes fadein {
    from {
        opacity: 0;
        width:  0;
    }
    to {
        opacity: .8;
        width:  390px;
        /*width:  570px;*/
    }
}

div.content {
    min-height: 500px;
    padding: 10px;
    background-color: var(--background);
}