@font-face {
  font-family: "071MKMA";
  src: url("fonts/071MKMA.TTF");
}

@font-face {
  font-family: "071MKMB";
  src: url("fonts/071MKMB.TTF");
}

@font-face {
  font-family: "Continue AL";
  src: url("fonts/CONTA.TTF");
}

@font-face {
  font-family: "096MKSD";
  src: url("fonts/096MKSD.TTF");
}

@font-face {
  font-family: "096MKSD";
  src: url("fonts/096MKSD.TTF");
}

@font-face {
  font-family: "232MKM";
  src: url("fonts/232MKSD/232MKM.TTF");
}