@import "fonts";

:root {
  --background: hsl(240, 10%, 5%);
  --background-light: hsl(240, 10%, 25%);
  --foreground: hsla(240, 100%, 95%, .8); //hsla(50, 50%, 90%, .8);
  --foreground-highlight: hsla(240, 100%, 100%, .9); //hsl(55, 100%, 100%);
  --foreground-transparent: hsla(240, 100%, 95%, 0);
  --orange: hsl(20, 100%, 50%);
  font-size: 24px;
  font-family: sans-serif; // "071MKMB"
}

* {
  transition: ease .5s;
}

html {
  background-color: var(--background) !important;
}
 
body {
  background-color: var(--background);
  color: var(--foreground);
  margin: 0;
  min-width: 35em;
}

a {
  color: var(--foreground);
  &:hover {
    color: var(--foreground-highlight);
  }
}

.center {
  text-align: center;
}

// Element styles

div.container {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
}

header {
  background-color: var(--background);
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  min-width: 35em;
  font-family: "096MKSD", sans-serif;

  div {
    display: flex;
  }

  a {
    display: block;
    height: 30px;
    line-height: 30px;
    margin: 0 auto;
    text-decoration: none;
    box-shadow: 0px 24px 0 -14px var(--foreground-transparent);

    &:hover {
      box-shadow: 0px 24px 0 -14px var(--orange);
      /*border-bottom: 2px solid var(--orange);*/
    }

    &.name {
      margin: 0 16px;
    }
  }

  .container {
    padding: 8px 16px;
    height: 30px;
    line-height: 30px;
    justify-content: space-between;
    border-bottom: 2px solid var(--foreground);
  }

  .menu {
    ul {
      list-style-type: none;
      margin: 0;

      li {
        float: left;
        width: 120px;
      }
    }
  }
}

/* Fixes page header overlapping in-page anchors, see https://stackoverflow.com/a/28824157/6723250 */
:target::before {
  content: "";
  display: block;
  height: 48px;
  margin-top: -48px;
}

.banner {
  position: relative;
  height: 600px;
  max-height: 100%;
  background: linear-gradient(to right, var(--background) 0%, transparent 20%, transparent 80%, var(--background) 100%),
  linear-gradient(to bottom, transparent 80%, var(--background) 100%),
  url("../images/banner.jpg") no-repeat center;
  background-size: cover;

  .se {
    margin: auto;
    position: relative;
    top: 45%;
    width: max-content;

    // font-size: 30px; font-family: "Continue AL";
    font-size: 60px;
    font-family: "071MKMB", sans-serif;

    &:hover {
      color: var(--foreground-highlight);
    }

    span {
      display: inline-block;
      overflow: hidden;
    }

    .se-fade {
      overflow: hidden;
      white-space: nowrap;
      width: 6.4em;
      min-width: max-content;

      &.animate-triggered {
        animation: fadein 2s;
        animation-timing-function: cubic-bezier(.4, 0, .6, 1);
      }

      &:hover {
        width: 7em;
      }

      @keyframes fadein {
        from {
          opacity: 0;
          width: 0;
          min-width: 0;
        }
        to {
          opacity: 1;
          width: 6.4em;
          min-width: 6.4em;
        }
      }
    }
  }
}

div.content {
  position: relative;
  margin: -100px auto 100px;
  width: 80%;
}
