@font-face {
  font-family: "071MKMA";
  src: url("fonts/071MKMA.TTF");
}
@font-face {
  font-family: "071MKMB";
  src: url("fonts/071MKMB.TTF");
}
@font-face {
  font-family: "Continue AL";
  src: url("fonts/CONTA.TTF");
}
@font-face {
  font-family: "096MKSD";
  src: url("fonts/096MKSD.TTF");
}
@font-face {
  font-family: "096MKSD";
  src: url("fonts/096MKSD.TTF");
}
@font-face {
  font-family: "232MKM";
  src: url("fonts/232MKSD/232MKM.TTF");
}
:root {
  --background: hsla(240, 10%, 5%);
  --background-light: hsl(240, 10%, 25%);
  --foreground: hsl(240, 100%, 95%);
  --white: hsl(240, 100%, 100%);
  --orange: hsl(16, 100%, 50%);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: sans-serif;
  font-size: 24px;
  min-width: 35em;
  margin: 0;
}

p {
  white-space: pre-line;
}

.container {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
}

.center {
  text-align: center;
}

header {
  background-color: var(--background);
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  min-width: 35em;
  font-family: "096MKSD", sans-serif;
}
header div {
  display: flex;
}
header a {
  display: block;
  height: 30px;
  line-height: 30px;
  margin: 0 auto;
  text-decoration: none;
  color: var(--foreground);
  box-shadow: 0px 24px 0 -14px var(--foreground);
  transition: ease 0.5s;
}
header a:hover {
  color: var(--white);
  box-shadow: 0px 24px 0 -14px var(--orange);
  /*border-bottom: 2px solid var(--orange);*/
}
header a.name {
  margin: 0 16px;
}
header .container {
  padding: 8px 16px;
  height: 30px;
  line-height: 30px;
  justify-content: space-between;
  border-bottom: 2px solid var(--foreground);
}
header .menu ul {
  list-style-type: none;
  margin: 0;
}
header .menu ul li {
  float: left;
  width: 120px;
}

/* Fixes page header overlapping in-page anchors, see https://stackoverflow.com/a/28824157/6723250 */
:target::before {
  content: "";
  display: block;
  height: 48px;
  margin-top: -48px;
}

.banner {
  position: relative;
  height: 600px;
  max-height: 100%;
  background: linear-gradient(to right, var(--background) 0%, transparent 20%, transparent 80%, var(--background) 100%), linear-gradient(to bottom, transparent 80%, var(--background) 100%), url("../images/banner.jpg") no-repeat center;
  background-size: cover;
}
.banner .se {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  font-size: 60px;
  font-family: "071MKMB", sans-serif;
  height: 2em;
  opacity: 0.9;
}
.banner .se span {
  display: inline-block;
  overflow: hidden;
}
.banner .se .se-fade {
  overflow: hidden;
  white-space: nowrap;
  opacity: 0.8;
  width: 6.4em;
  min-width: max-content;
  transition: ease 1s;
}
.banner .se .se-fade.animate-triggered {
  animation: fadein 2s;
  animation-timing-function: cubic-bezier(0.4, 0, 0.6, 1);
}
.banner .se .se-fade:hover {
  opacity: 0.9;
  width: 7em;
}
@keyframes fadein {
  from {
    opacity: 0;
    width: 0;
    min-width: 0;
  }
  to {
    opacity: 0.8;
    width: 6.4em;
    min-width: 6.4em;
  }
}

div.content {
  position: relative;
  margin-top: -100px;
}
div.content a {
  color: var(--foreground) !important;
}

/*# sourceMappingURL=style.css.map */
